[submodule "khuneo-astgen"]
	path = khuneo-astgen
	url = https://github.com/u16rogue/khuneo-astgen.git
[submodule "khuneo-core"]
	path = khuneo-core
	url = https://github.com/u16rogue/khuneo-core.git
